:host {
  // background
  --background-base: #{palette-color("background-base")};
  --background-surface: #{palette-color("background-surface")};
  --background-minimal: #{palette-color("background-minimal")};
  --background-subtle: #{palette-color("background-subtle")};
  --background-moderate: #{palette-color("background-moderate")};
  --background-strong: #{palette-color("background-strong")};
  --background-contrast: #{palette-color("background-contrast")};
  --background-transparent: #{palette-color("background-transparent")};
  --background-hover: #{palette-color("background-hover")};
  --background-active: #{palette-color("background-active")};
  --background-selected: #{palette-color("background-selected")};
  // border
  --border-base: #{palette-color("border-base")};
  --border-minimal: #{palette-color("border-minimal")};
  --border-subtle: #{palette-color("border-subtle")};
  --border-moderate: #{palette-color("border-moderate")};
  --border-strong: #{palette-color("border-strong")};
  --border-contrast: #{palette-color("border-contrast")};
  --border-hover: #{palette-color("border-hover")};
  --border-selected: #{palette-color("border-selected")};
  // text
  --text-primary: #{palette-color("text-primary")};
  --text-secondary: #{palette-color("text-secondary")};
  --text-tertiary: #{palette-color("text-tertiary")};
  --text-subtle: #{palette-color("text-subtle")};
  --text-minimal: #{palette-color("text-minimal")};
  --text-contrast: #{palette-color("text-contrast")};
  --text-selected: #{palette-color("text-selected")};
  --text-link: #{palette-color("text-link")};
  --text-link-hover: #{palette-color("text-link-hover")};
  --text-link-active: #{palette-color("text-link-active")};
  // icon
  --icon-primary: #{palette-color("icon-primary")};
  --icon-secondary: #{palette-color("icon-secondary")};
  --icon-tertiary: #{palette-color("icon-tertiary")};
  --icon-minimal: #{palette-color("icon-minimal")};
  --icon-contrast: #{palette-color("icon-contrast")};
  --icon-selected: #{palette-color("icon-selected")};
  // brand
  --brand-heavy: #{palette-color("brand-heavy")};
  --brand-strong: #{palette-color("brand-strong")};
  --brand: #{palette-color("brand")};
  --brand-moderate: #{palette-color("brand-moderate")};
  --brand-subtle: #{palette-color("brand-subtle")};
  --brand-minimal: #{palette-color("brand-minimal")};
  // primary
  --primary-heavy: #{palette-color("primary-heavy")};
  --primary-strong: #{palette-color("primary-strong")};
  --primary: #{palette-color("primary")};
  --primary-moderate: #{palette-color("primary-moderate")};
  --primary-subtle: #{palette-color("primary-subtle")};
  --primary-minimal: #{palette-color("primary-minimal")};
  // secondary
  --secondary-heavy: #{palette-color("secondary-heavy")};
  --secondary-strong: #{palette-color("secondary-strong")};
  --secondary: #{palette-color("secondary")};
  --secondary-moderate: #{palette-color("secondary-moderate")};
  --secondary-subtle: #{palette-color("secondary-subtle")};
  --secondary-minimal: #{palette-color("secondary-minimal")};
  // destructive
  --destructive-heavy: #{palette-color("destructive-heavy")};
  --destructive-strong: #{palette-color("destructive-strong")};
  --destructive: #{palette-color("destructive")};
  --destructive-moderate: #{palette-color("destructive-moderate")};
  --destructive-subtle: #{palette-color("destructive-subtle")};
  --destructive-minimal: #{palette-color("destructive-minimal")};
  // reversed
  --reversed: #{palette-color("reversed")};
  --reversed-moderate: #{palette-color("reversed-moderate")};
  --reversed-subtle: #{palette-color("reversed-subtle")};
  --reversed-minimal: #{palette-color("reversed-minimal")};
  // general
  --general-moderate: #{palette-color("general-moderate")};
  --general: #{palette-color("general")};
  --general-subtle: #{palette-color("general-subtle")};
  // success
  --success-moderate: #{palette-color("success-moderate")};
  --success: #{palette-color("success")};
  --success-subtle: #{palette-color("success-subtle")};
  // warning
  --warning-moderate: #{palette-color("warning-moderate")};
  --warning: #{palette-color("warning")};
  --warning-subtle: #{palette-color("warning-subtle")};
  // error
  --error-moderate: #{palette-color("error-moderate")};
  --error: #{palette-color("error")};
  --error-subtle: #{palette-color("error-subtle")};
  // info
  --info-moderate: #{palette-color("info-moderate")};
  --info: #{palette-color("info")};
  --info-subtle: #{palette-color("info-subtle")};
}
